builds
obj
_ReSharper.*
*.resharper
*.ReSharper
*.csproj.user
*.orig
*.resharper.user
*.ReSharper.user
*.DotSettings
*.coverage
*.mdf
*.ldf
*.suo
bin
staging
buildlog.txt
*.sln.DotSettings.user
*.csproj.DotSettings.user

# VS (or maybe Linqpad) touches this
lib/DotNetZip/1.9/Ionic.Zip.xml


*.ReSharper*
bin/*

*.tmp.*
Output/*
WordTemplates/*